In [51]:
# Import Dependancies
import hvplot.pandas
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
from datetime import datetime
import numpy as np

In [24]:
# Load dataset
path = r'C:\Users\Nicze\Downloads\IEA Global EV Data 2024 (1).csv'

# Read the CSV fil using pandas
data = pd.read_csv(path)

# Display the first few rows of the dataset
print(data.head())

      region    category       parameter  mode powertrain  year      unit  \
0  Australia  Historical  EV stock share  Cars         EV  2011   percent
1  Australia  Historical  EV sales share  Cars         EV  2011   percent
2  Australia  Historical        EV sales  Cars        BEV  2011  Vehicles
3  Australia  Historical        EV stock  Cars        BEV  2011  Vehicles
4  Australia  Historical        EV stock  Cars        BEV  2012  Vehicles

       value
0    0.00039
1    0.00650
2   49.00000
3   49.00000
4  220.00000

In [25]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12654 entries, 0 to 12653
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   region      12654 non-null  object
 1   category    12654 non-null  object
 2   parameter   12654 non-null  object
 3   mode        12654 non-null  object
 4   powertrain  12654 non-null  object
 5   year        12654 non-null  int64
 6   unit        12654 non-null  object
 7   value       12654 non-null  float64
dtypes: float64(1), int64(1), object(6)
memory usage: 791.0+ KB
None

In [26]:
# Check for missing values
print(data.isnull().sum())

region        0
category      0
parameter     0
mode          0
powertrain    0
year          0
unit          0
value         0
dtype: int64

In [27]:
# View statistics of numeric columns
print(data.describe())

               year         value
count  12654.000000  1.265400e+04
mean    2019.822112  4.273742e+05
std        5.476494  6.860498e+06
min     2010.000000  1.200000e-06
25%     2016.000000  2.000000e+00
50%     2020.000000  1.300000e+02
75%     2022.000000  5.500000e+03
max     2035.000000  4.400000e+08

In [ ]:
data_cleaned = data.dropna()

In [38]:
data_cleaned = data.fillna({
    'numeric_column': 0,  # Replace 'numeric_column' with your actual column name
    'string_column': 'Unknown'})

In [39]:
print("\nNumber of duplicates:", data_cleaned.duplicated().sum())
data_cleaned = data_cleaned.drop_duplicates()

Number of duplicates: 0

In [40]:
print("\nColumn data types before conversion:")
print(data_cleaned.dtypes)

Column data types before conversion:
region         object
category       object
parameter      object
mode           object
powertrain     object
year            int64
unit           object
value         float64
dtype: object

In [55]:
print(data_cleaned.columns)

Index(['region', 'category', 'parameter', 'mode', 'powertrain', 'year', 'unit',
       'value'],
      dtype='object')

In [57]:
data_cleaned.columns = data_cleaned.columns.str.strip()

In [60]:
missing_values_count = data_cleaned.isnull().sum()
print(missing_values_count)

region        0
category      0
parameter     0
mode          0
powertrain    0
year          0
unit          0
value         0
dtype: int64

In [61]:
total_rows = len(data_cleaned)
print(total_rows)

12654

In [65]:
# Save cleaned data to a new CSV file
output_path = r'C:\Users\Nicze\Downloads\Cleaned_EV_Data.csv'
data.to_csv(output_path, index=False)

output_path

'C:\\Users\\Nicze\\Downloads\\Cleaned_EV_Data.csv'