In [9]:
import pandas as pd
import psycopg2

In [10]:
# Import csv file and read it into a dataframe
csv_file_path = '../final_files_proj3/Resources/ev_data.csv'
df =pd.read_csv(csv_file_path)

# Inspect the first or last few rows of the dataset to see that the data loaded properly and what you're working with
df.head()

,region,category,parameter,mode,powertrain,year,unit,value
0,Australia,Historical,EV stock share,Cars,EV,2011,percent,0.00039
1,Australia,Historical,EV sales share,Cars,EV,2011,percent,0.00650
2,Australia,Historical,EV sales,Cars,BEV,2011,Vehicles,49.00000
3,Australia,Historical,EV stock,Cars,BEV,2011,Vehicles,49.00000
4,Australia,Historical,EV stock,Cars,BEV,2012,Vehicles,220.00000

In [11]:
# get a better idea of the dataset
df.describe()

               year         value
count  12654.000000  1.265400e+04
mean    2019.822112  4.273742e+05
std        5.476494  6.860498e+06
min     2010.000000  1.200000e-06
25%     2016.000000  2.000000e+00
50%     2020.000000  1.300000e+02
75%     2022.000000  5.500000e+03
max     2035.000000  4.400000e+08

In [12]:
# Check how many non null values each column has
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12654 entries, 0 to 12653
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   region      12654 non-null  object
 1   category    12654 non-null  object
 2   parameter   12654 non-null  object
 3   mode        12654 non-null  object
 4   powertrain  12654 non-null  object
 5   year        12654 non-null  int64
 6   unit        12654 non-null  object
 7   value       12654 non-null  float64
dtypes: float64(1), int64(1), object(6)
memory usage: 791.0+ KB

In [13]:
# how many rows have data
df.count()

region        12654
category      12654
parameter     12654
mode          12654
powertrain    12654
year          12654
unit          12654
value         12654
dtype: int64

In [14]:
# find the datatypes
df.dtypes

region         object
category       object
parameter      object
mode           object
powertrain     object
year            int64
unit           object
value         float64
dtype: object

In [15]:
# Check for missing values in the dataset
print(df.isnull().sum())

region        0
category      0
parameter     0
mode          0
powertrain    0
year          0
unit          0
value         0
dtype: int64

In [16]:
# Remove duplicate rows
df = df.drop_duplicates()

In [17]:
#Check dataset to see if any duplicates were dropped
df.describe()

               year         value
count  12654.000000  1.265400e+04
mean    2019.822112  4.273742e+05
std        5.476494  6.860498e+06
min     2010.000000  1.200000e-06
25%     2016.000000  2.000000e+00
50%     2020.000000  1.300000e+02
75%     2022.000000  5.500000e+03
max     2035.000000  4.400000e+08

In [18]:
# list the  countries/regions where we have data
df['region'].unique()

array(['Australia', 'Austria', 'Belgium', 'Brazil', 'Bulgaria', 'Canada',
       'Chile', 'China', 'Colombia', 'Costa Rica', 'Croatia', 'Cyprus',
       'Czech Republic', 'Denmark', 'Estonia', 'EU27', 'Europe',
       'Finland', 'France', 'Germany', 'Greece', 'Hungary', 'Iceland',
       'India', 'Indonesia', 'Ireland', 'Israel', 'Italy', 'Japan',
       'Korea', 'Latvia', 'Lithuania', 'Luxembourg', 'Mexico',
       'Netherlands', 'New Zealand', 'Norway', 'Poland', 'Portugal',
       'Rest of the world', 'Romania', 'Seychelles', 'Slovakia',
       'Slovenia', 'South Africa', 'Spain', 'Sweden', 'Switzerland',
       'Thailand', 'Turkiye', 'United Arab Emirates', 'United Kingdom',
       'USA', 'World'], dtype=object)

In [19]:
# list the unique values in the parameter column
df['parameter'].unique()

array(['EV stock share', 'EV sales share', 'EV sales', 'EV stock',
       'EV charging points', 'Electricity demand', 'Oil displacement Mbd',
       'Oil displacement, million lge'], dtype=object)

In [20]:
# list the unique values in the category column
df['category'].unique()

array(['Historical', 'Projection-STEPS', 'Projection-APS'], dtype=object)

In [21]:
# list the unique values in the mode column
df['mode'].unique()

array(['Cars', 'EV', 'Buses', 'Vans', 'Trucks'], dtype=object)

In [22]:
# list the unique values in the powertrain column
df['powertrain'].unique()

array(['EV', 'BEV', 'PHEV', 'Publicly available fast',
       'Publicly available slow', 'FCEV'], dtype=object)

In [23]:
# list the unique values in the unit column
df['unit'].unique()

array(['percent', 'Vehicles', 'charging points', 'GWh',
       'Milion barrels per day', 'Oil displacement, million lge'],
      dtype=object)

In [24]:
# Make dataframe of ev adoption from 2011 - 2023 by ev sales share 
df_evsales_share = df.loc[
    (df['year'] >= 2011) &
    (df['year'] <= 2023) &
    (df['category']== 'Historical') &
    (df['parameter']== 'EV sales share') 
]
df_evsales_share.head()

,region,category,parameter,mode,powertrain,year,unit,value
1,Australia,Historical,EV sales share,Cars,EV,2011,percent,0.0065
6,Australia,Historical,EV sales share,Cars,EV,2012,percent,0.0300
13,Australia,Historical,EV sales share,Cars,EV,2013,percent,0.0340
18,Australia,Historical,EV sales share,Cars,EV,2014,percent,0.1600
25,Australia,Historical,EV sales share,Cars,EV,2015,percent,0.2000

In [25]:
# Filter data for fast and slow charging points (excluding other powertrains)
df_charging = df.loc[
    (df['powertrain'].isin(['Publicly available fast', 'Publicly available slow'])) &
    (df['parameter'] == 'EV charging points') &
    (df['category'] == 'Historical') &
    (df['unit'] == 'charging points') &
    (df['year'] >= 2011) & (df['year'] <= 2023)
]

# Group by region, year, and powertrain (fast vs. slow) and sum the values
df_combined_charging = df_charging.groupby(['region', 'year', 'powertrain'], as_index=False)['value'].sum()

# Step 3: Pivot the data to create separate columns for fast and slow charging points
df_pivot_charging = df_combined_charging.pivot_table(
    index=['region', 'year'],
    columns='powertrain',
    values='value',
    aggfunc='sum'
).reset_index()

# Fill any missing values (if there are any regions with no data for a specific powertrain)
df_pivot_charging = df_pivot_charging.fillna(0)

# Create the Total column by summing the fast and slow charging points
df_pivot_charging['Total'] = df_pivot_charging['Publicly available fast'] + df_pivot_charging['Publicly available slow']

# Remove the multi-level column index (caused by the pivot)
df_pivot_charging.columns.name = None  # This removes the "powertrain" label

# Reset the index to make it a clean dataframe without the index column
df_pivot_charging = df_pivot_charging.reset_index(drop=True)

# Sort the data by region and year
df_pivot_charging = df_pivot_charging.sort_values(by=['region', 'year'])

# Display the final dataframe without an index
print(df_pivot_charging.to_string(index=False))

        region  year  Publicly available fast  Publicly available slow     Total
     Australia  2017                     40.0                    440.0     480.0
     Australia  2018                     61.0                    670.0     731.0
     Australia  2019                      0.0                   1700.0    1700.0
     Australia  2020                      0.0                   2300.0    2300.0
     Australia  2021                    320.0                   2000.0    2320.0
     Australia  2022                    470.0                   2100.0    2570.0
     Australia  2023                    660.0                   2100.0    2760.0
       Austria  2011                      0.1                      0.1       0.2
       Austria  2012                      0.1                      0.1       0.2
       Austria  2013                      0.1                      0.1       0.2
       Austria  2014                      0.1                      0.1       0.2
       Austria  2015                      0.1                      0.1       0.2
       Austria  2016                      0.1                      0.1       0.2
       Austria  2017                      0.1                      0.1       0.2
       Austria  2018                      0.1                      0.1       0.2
       Austria  2019                      0.1                      0.1       0.2
       Austria  2020                      0.1                      0.1       0.2
       Austria  2021                   1600.0                   8900.0   10500.0
       Austria  2022                   2600.0                  13000.0   15600.0
       Austria  2023                   2500.0                  15000.0   17500.0
       Belgium  2013                     47.0                    330.0     377.0
       Belgium  2014                     55.0                    560.0     615.0
       Belgium  2015                     77.0                   1300.0    1377.0
       Belgium  2016                    110.0                   1500.0    1610.0
       Belgium  2017                    220.0                   1500.0    1720.0
       Belgium  2018                    240.0                   2700.0    2940.0
       Belgium  2019                    360.0                   6100.0    6460.0
       Belgium  2020                    480.0                   8000.0    8480.0
       Belgium  2021                    790.0                  12000.0   12790.0
       Belgium  2022                   1100.0                  23000.0   24100.0
       Belgium  2023                   2000.0                  42000.0   44000.0
        Brazil  2018                      4.9                     26.0      30.9
        Brazil  2019                      4.9                    220.0     224.9
        Brazil  2020                      4.9                    400.0     404.9
        Brazil  2021                      4.9                    800.0     804.9
        Brazil  2022                      4.9                   3000.0    3004.9
        Brazil  2023                      4.9                   3800.0    3804.9
        Canada  2012                      2.0                    720.0     722.0
        Canada  2013                      7.0                   1200.0    1207.0
        Canada  2014                     55.0                   2300.0    2355.0
        Canada  2015                     63.0                   3400.0    3463.0
        Canada  2016                    140.0                   3900.0    4040.0
        Canada  2017                    670.0                   5200.0    5870.0
        Canada  2018                    840.0                   7100.0    7940.0
        Canada  2019                    980.0                   8000.0    8980.0
        Canada  2020                   2300.0                  11000.0   13300.0
        Canada  2021                   3100.0                  12000.0   15100.0
        Canada  2022                   3900.0                  17000.0   20900.0
        Canada  2023                   4800.0                  22000.0   26800.0
         Chile  2011                      1.0                      1.0       2.0
         Chile  2012                      4.0                      6.0      10.0
         Chile  2013                      5.0                      8.0      13.0
         Chile  2014                      5.0                     13.0      18.0
         Chile  2015                      5.0                     22.0      27.0
         Chile  2016                      5.0                     22.0      27.0
         Chile  2017                      6.0                     35.0      41.0
         Chile  2018                      8.0                     61.0      69.0
         Chile  2019                     42.0                    130.0     172.0
         Chile  2020                     99.0                    240.0     339.0
         Chile  2021                    120.0                    360.0     480.0
         Chile  2022                    220.0                    440.0     660.0
         Chile  2023                    330.0                    740.0    1070.0
         China  2014                   9000.0                  21000.0   30000.0
         China  2015                  12000.0                  47000.0   59000.0
         China  2016                  55000.0                  86000.0  141000.0
         China  2017                  83000.0                 130000.0  213000.0
         China  2018                 110000.0                 160000.0  270000.0
         China  2019                 210000.0                 300000.0  510000.0
         China  2020                 310000.0                 500000.0  810000.0
         China  2021                 470000.0                 680000.0 1150000.0
         China  2022                 760000.0                1000000.0 1760000.0
         China  2023                1200000.0                1500000.0 2700000.0
       Denmark  2012                      3.0                    900.0     903.0
       Denmark  2013                     56.0                    990.0    1046.0
       Denmark  2014                    120.0                   1600.0    1720.0
       Denmark  2015                    270.0                   2100.0    2370.0
       Denmark  2016                    310.0                   4200.0    4510.0
       Denmark  2017                    370.0                   4200.0    4570.0
       Denmark  2018                    390.0                   4300.0    4690.0
       Denmark  2019                    450.0                   4500.0    4950.0
       Denmark  2020                    560.0                   5400.0    5960.0
       Denmark  2021                    240.0                   7000.0    7240.0
       Denmark  2022                   1200.0                   8300.0    9500.0
       Denmark  2023                   3000.0                  14000.0   17000.0
          EU27  2011                      6.1                   1500.0    1506.1
          EU27  2012                     59.0                   8900.0    8959.0
          EU27  2013                    400.0                  15000.0   15400.0
          EU27  2014                    690.0                  23000.0   23690.0
          EU27  2015                   2100.0                  42000.0   44100.0
          EU27  2016                   3100.0                  72000.0   75100.0
          EU27  2017                   5600.0                  81000.0   86600.0
          EU27  2018                   8600.0                  98000.0  106600.0
          EU27  2019                  12000.0                 140000.0  152000.0
          EU27  2020                  19000.0                 180000.0  199000.0
          EU27  2021                  29000.0                 260000.0  289000.0
          EU27  2022                  49000.0                 380000.0  429000.0
          EU27  2023                  82000.0                 510000.0  592000.0
        Europe  2011                     24.0                   6100.0    6124.0
        Europe  2012                    160.0                  16000.0   16160.0
        Europe  2013                    780.0                  25000.0   25780.0
        Europe  2014                   1400.0                  37000.0   38400.0
        Europe  2015                   3800.0                  59000.0   62800.0
        Europe  2016                   5700.0                  94000.0   99700.0
        Europe  2017                   9300.0                 110000.0  119300.0
        Europe  2018                  13000.0                 130000.0  143000.0
        Europe  2019                  20000.0                 170000.0  190000.0
        Europe  2020                  30000.0                 220000.0  250000.0
        Europe  2021                  43000.0                 310000.0  353000.0
        Europe  2022                  68000.0                 440000.0  508000.0
        Europe  2023                 110000.0                 590000.0  700000.0
       Finland  2013                     17.0                    250.0     267.0
       Finland  2014                     26.0                    360.0     386.0
       Finland  2015                    130.0                    710.0     840.0
       Finland  2016                    140.0                    710.0     850.0
       Finland  2017                    140.0                    710.0     850.0
       Finland  2018                    220.0                    710.0     930.0
       Finland  2019                    340.0                   1800.0    2140.0
       Finland  2020                    410.0                   3900.0    4310.0
       Finland  2021                    770.0                   5800.0    6570.0
       Finland  2022                   1300.0                   7700.0    9000.0
       Finland  2023                   2800.0                   9300.0   12100.0
        France  2012                      9.0                    800.0     809.0
        France  2013                    100.0                   1700.0    1800.0
        France  2014                    110.0                   1700.0    1810.0
        France  2015                    580.0                   9900.0   10480.0
        France  2016                   1000.0                  19000.0   20000.0
        France  2017                   1000.0                  20000.0   21000.0
        France  2018                   1700.0                  23000.0   24700.0
        France  2019                   2000.0                  28000.0   30000.0
        France  2020                   3300.0                  31000.0   34300.0
        France  2021                   4500.0                  50000.0   54500.0
        France  2022                   9700.0                  74000.0   83700.0
        France  2023                  20000.0                  98000.0  118000.0
       Germany  2012                     18.0                   1500.0    1518.0
       Germany  2013                     47.0                   2400.0    2447.0
       Germany  2014                    120.0                   2600.0    2720.0
       Germany  2015                    470.0                   4600.0    5070.0
       Germany  2016                    630.0                   5800.0    6430.0
       Germany  2017                   1400.0                   9400.0   10800.0
       Germany  2018                   2500.0                  17000.0   19500.0
       Germany  2019                   3900.0                  26000.0   29900.0
       Germany  2020                   6200.0                  37000.0   43200.0
       Germany  2021                   9300.0                  50000.0   59300.0
       Germany  2022                  15000.0                  71000.0   86000.0
       Germany  2023                  21000.0                  87000.0  108000.0
        Greece  2013                      0.0                     10.0      10.0
        Greece  2014                      2.0                     14.0      16.0
        Greece  2015                      2.0                     14.0      16.0
        Greece  2016                      2.0                     15.0      17.0
        Greece  2017                      2.0                     22.0      24.0
        Greece  2018                     10.0                     31.0      41.0
        Greece  2019                     10.0                     63.0      73.0
        Greece  2020                     14.0                    220.0     234.0
        Greece  2021                    100.0                   1200.0    1300.0
        Greece  2022                    190.0                   2800.0    2990.0
        Greece  2023                    330.0                   4800.0    5130.0
       Iceland  2014                      6.0                      0.0       6.0
       Iceland  2015                     11.0                     11.0      22.0
       Iceland  2016                     40.0                     11.0      51.0
       Iceland  2017                     36.0                     32.0      68.0
       Iceland  2018                     55.0                     40.0      95.0
       Iceland  2019                    150.0                    110.0     260.0
       Iceland  2020                    190.0                    290.0     480.0
       Iceland  2021                    120.0                    560.0     680.0
       Iceland  2022                    180.0                    850.0    1030.0
       Iceland  2023                    160.0                   1400.0    1560.0
         India  2016                     25.0                      0.0      25.0
         India  2017                     25.0                    220.0     245.0
         India  2018                     25.0                    330.0     355.0
         India  2019                     25.0                    330.0     355.0
         India  2020                     25.0                    330.0     355.0
         India  2021                     32.0                    910.0     942.0
         India  2022                   4100.0                   6800.0   10900.0
         India  2023                   4100.0                   6800.0   10900.0
     Indonesia  2020                     51.0                     50.0     101.0
     Indonesia  2021                    130.0                     54.0     184.0
     Indonesia  2022                    130.0                    580.0     710.0
     Indonesia  2023                    130.0                    580.0     710.0
        Israel  2015                      0.1                      0.1       0.2
        Israel  2016                      0.1                      0.1       0.2
        Israel  2017                      0.1                      0.1       0.2
        Israel  2018                      0.1                      0.1       0.2
        Israel  2019                      0.1                      0.1       0.2
        Israel  2020                      0.1                      0.0       0.1
        Israel  2021                      0.1                      0.0       0.1
        Israel  2022                    270.0                   2500.0    2770.0
        Israel  2023                    710.0                   4200.0    4910.0
         Italy  2012                      1.0                   1400.0    1401.0
         Italy  2013                      6.0                   1400.0    1406.0
         Italy  2014                     10.0                   1400.0    1410.0
         Italy  2015                     70.0                   1700.0    1770.0
         Italy  2016                    170.0                   2300.0    2470.0
         Italy  2017                    390.0                   2400.0    2790.0
         Italy  2018                    570.0                   2900.0    3470.0
         Italy  2019                    860.0                   8300.0    9160.0
         Italy  2020                   1200.0                  12000.0   13200.0
         Italy  2021                   2200.0                  20000.0   22200.0
         Italy  2022                   6500.0                  31000.0   37500.0
         Italy  2023                   8100.0                  40000.0   48100.0
         Japan  2011                    800.0                      0.0     800.0
         Japan  2012                   1400.0                      0.0    1400.0
         Japan  2013                   1800.0                      0.0    1800.0
         Japan  2014                   2900.0                   8600.0   11500.0
         Japan  2015                   6000.0                  16000.0   22000.0
         Japan  2016                   7100.0                  17000.0   24100.0
         Japan  2017                   7300.0                  22000.0   29300.0
         Japan  2018                   7700.0                  22000.0   29700.0
         Japan  2019                   7900.0                  23000.0   30900.0
         Japan  2020                   7900.0                  22000.0   29900.0
         Japan  2021                   8000.0                  21000.0   29000.0
         Japan  2022                   8400.0                  21000.0   29400.0
         Japan  2023                   9600.0                  22000.0   31600.0
         Korea  2016                    920.0                   1100.0    2020.0
         Korea  2017                   3300.0                  10000.0   13300.0
         Korea  2018                   5200.0                  22000.0   27200.0
         Korea  2019                   7400.0                  37000.0   44400.0
         Korea  2020                   9800.0                  37000.0   46800.0
         Korea  2021                  15000.0                  92000.0  107000.0
         Korea  2022                  21000.0                 180000.0  201000.0
         Korea  2023                  21000.0                 180000.0  201000.0
        Mexico  2015                      0.0                     83.0      83.0
        Mexico  2016                      6.0                    240.0     246.0
        Mexico  2017                     50.0                    700.0     750.0
        Mexico  2018                     76.0                   1100.0    1176.0
        Mexico  2019                     76.0                   1100.0    1176.0
        Mexico  2020                     76.0                   1100.0    1176.0
        Mexico  2021                     76.0                   1100.0    1176.0
        Mexico  2022                     76.0                   2000.0    2076.0
        Mexico  2023                     76.0                   2000.0    2076.0
   Netherlands  2011                      0.0                    400.0     400.0
   Netherlands  2012                     21.0                   2800.0    2821.0
   Netherlands  2013                     21.0                   5800.0    5821.0
   Netherlands  2014                    120.0                  12000.0   12120.0
   Netherlands  2015                    220.0                  18000.0   18220.0
   Netherlands  2016                    400.0                  32000.0   32400.0
   Netherlands  2017                    410.0                  33000.0   33410.0
   Netherlands  2018                    820.0                  36000.0   36820.0
   Netherlands  2019                   1300.0                  46000.0   47300.0
   Netherlands  2020                   2100.0                  63000.0   65100.0
   Netherlands  2021                   2600.0                  81000.0   83600.0
   Netherlands  2022                   4300.0                 120000.0  124300.0
   Netherlands  2023                   5800.0                 140000.0  145800.0
   New Zealand  2017                    100.0                      0.0     100.0
   New Zealand  2018                    200.0                     89.0     289.0
   New Zealand  2019                    260.0                    130.0     390.0

In [26]:
# Combine data for all vehicles (cars, trucks, vans, buses)
df_combined_vehicles = df.loc[
    (df['year'] >= 2011) & 
    (df['year'] <= 2023)
]

# Group by region, year, and parameter, summing the values for each mode (cars, trucks, vans, buses)
df_combined_vehicles_grouped = df_combined_vehicles.groupby(
    ['region', 'year', 'parameter'], as_index=False)['value'].sum()

# Optionally, filter for the parameter you want (e.g., EV sales share or EV stock share)
df_combined_vehicles_filtered = df_combined_vehicles_grouped[
    df_combined_vehicles_grouped['parameter'] == 'EV sales share'
]

# Display the result
df_combined_vehicles_filtered

         region  year       parameter      value
1     Australia  2011  EV sales share   0.006500
5     Australia  2012  EV sales share   0.030000
9     Australia  2013  EV sales share   0.034000
13    Australia  2014  EV sales share   0.160000
17    Australia  2015  EV sales share   0.200000
...         ...   ...             ...        ...
2635      World  2019  EV sales share   7.970000
2643      World  2020  EV sales share  30.029999
2651      World  2021  EV sales share  43.259999
2659      World  2022  EV sales share  65.220000
2667      World  2023  EV sales share  79.230000

[582 rows x 4 columns]

In [28]:
# Merge the charging data with the EV sales share data on region (and optionally on year)
merged_data = pd.merge(df_pivot_charging, df_combined_vehicles_filtered, 
                       on='region', how='inner')

# Perform a regression analysis, e.g., using statsmodels or scikit-learn
import statsmodels.api as sm

# Set x and y axis data
X = merged_data['total_charging_points']
y = merged_data['value']

# Add a constant for the intercept in the regression
X = sm.add_constant(X)

# Fit the model
model = sm.OLS(y, X).fit()

# Print the regression results
print(model.summary())

KeyError: 'total_charging_points'

In [ ]:
df_2023_evsales_ordered = df_2023_evsales.sort_values(by='value', ascending = False)
df_2023_evsales_ordered.head(25)

more granual approach to analysis of the correlation between EV adoption and charging points availability

In [136]:
# Filter for EV charging points and EV sales data
charging_data = df[df['parameter'] == 'EV charging points']
vehicle_data = df[df['parameter'] == 'EV sales share']

# Break down charging data into fast and slow charging types
fast_charging = charging_data[charging_data['mode'] == 'Publicly available fast']
slow_charging = charging_data[charging_data['mode'] == 'Publicly available slow']

# Break down vehicle sales data by mode (vehicle types like cars, trucks, vans, buses)
vehicle_sales_cars = vehicle_data[vehicle_data['mode'] == 'Car']
vehicle_sales_trucks = vehicle_data[vehicle_data['mode'] == 'Truck']
vehicle_sales_vans = vehicle_data[vehicle_data['mode'] == 'Van']
vehicle_sales_buses = vehicle_data[vehicle_data['mode'] == 'Bus']

# Optionally: You can group and sum the values by 'region' and 'year' for each category

# Aggregate charging points data by region and year (for fast and slow)
fast_charging_summary = fast_charging.groupby(['region', 'year']).agg({'value': 'sum'}).reset_index()
slow_charging_summary = slow_charging.groupby(['region', 'year']).agg({'value': 'sum'}).reset_index()

# Aggregate vehicle sales data by region and year (for each vehicle type)
vehicle_sales_cars_summary = vehicle_sales_cars.groupby(['region', 'year']).agg({'value': 'sum'}).reset_index()
vehicle_sales_trucks_summary = vehicle_sales_trucks.groupby(['region', 'year']).agg({'value': 'sum'}).reset_index()
vehicle_sales_vans_summary = vehicle_sales_vans.groupby(['region', 'year']).agg({'value': 'sum'}).reset_index()
vehicle_sales_buses_summary = vehicle_sales_buses.groupby(['region', 'year']).agg({'value': 'sum'}).reset_index()

# Merge all the data back together to have a comprehensive dataset
charging_summary = pd.merge(fast_charging_summary, slow_charging_summary, on=['region', 'year'], how='outer', suffixes=('_fast', '_slow'))
vehicle_sales_summary = pd.merge(vehicle_sales_cars_summary, vehicle_sales_trucks_summary, on=['region', 'year'], how='outer', suffixes=('_car', '_truck'))
vehicle_sales_summary = pd.merge(vehicle_sales_summary, vehicle_sales_vans_summary, on=['region', 'year'], how='outer', suffixes=('', '_van'))
vehicle_sales_summary = pd.merge(vehicle_sales_summary, vehicle_sales_buses_summary, on=['region', 'year'], how='outer', suffixes=('', '_bus'))

# Merge the charging and vehicle sales data together
full_data = pd.merge(charging_summary, vehicle_sales_summary, on=['region', 'year'], how='outer')

# Check the merged dataset
full_data.head()

Empty DataFrame
Columns: [value_fast, value_slow, value_car, value_truck, value, region, year, value_bus]
Index: []

In [137]:
import statsmodels.api as sm

# Prepare the independent (X) and dependent (y) variables
X = full_data[['value_fast', 'value_slow', 'value_car', 'value_truck', 'value_van', 'value_bus']]  # Independent variables
y = full_data['value']  # Dependent variable (EV sales share)

# Add a constant (intercept) to the independent variables
X = sm.add_constant(X)

# Perform OLS regression
model = sm.OLS(y, X).fit()

# Print the regression results
print(model.summary())

KeyError: "['value_van'] not in index"

More debugging

In [ ]:
# Filter out rows where mode is 'EV'
df_filtered = df[df['mode'] != 'EV']

# Verify the unique modes
df_filtered['mode'].unique()

In [ ]:
# Aggregate the data for each mode and create separate value columns
df_aggregated = df_filtered.groupby(['region', 'year', 'mode'], as_index=False)['value'].sum()

# Pivot the table to separate each vehicle type into its own column
df_pivot = df_aggregated.pivot_table(index=['region', 'year'], columns='mode', values='value', aggfunc='sum', fill_value=0)

# Reset column names to match the required format
df_pivot = df_pivot.reset_index()

# Verify the new structure of the dataframe
df_pivot.head(55)

In [ ]:
# Assuming you have already aggregated the charging points into 'value_fast' and 'value_slow'
df_final = pd.merge(df_pivot, df_pivot_charging[['region', 'year', 'value_fast', 'value_slow']], on=['region', 'year'], how='left')

# Verify the final dataset
df_final.head()