In [2]:
import pandas as pd

In [12]:
# Import csv file and read it into a dataframe
csv_file_path = '../Resources/alt_fuel_stations (Jan 18 2025) all US all OPEN.csv'
df =pd.read_csv(csv_file_path)

# Inspect the first or last few rows of the dataset to see that the data loaded properly and what you're working with
df.tail()

C:\Users\arkha\AppData\Local\Temp\ipykernel_19520\2935831891.py:3: DtypeWarning: Columns (6,20,31,45,46,63,69,74) have mixed types. Specify dtype option on import or set low_memory=False.
  df =pd.read_csv(csv_file_path)

,Fuel Type Code,Station Name,Street Address,Intersection Directions,City,State,ZIP,Plus4,Station Phone,Status Code,...,RD Blends,RD Blends (French),RD Blended with Biodiesel,RD Maximum Biodiesel Level,NPS Unit Name,CNG Station Sells Renewable Natural Gas,LNG Station Sells Renewable Natural Gas,Maximum Vehicle Class,EV Workplace Charging,Funding Sources
74478,ELEC,1610 Main Street (US-U9T-7MB-3A),1610 Main Street,NaN,Chipley,FL,32428,NaN,866-576-1495,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN
74479,ELEC,1610 Main Street (US-U9T-7MB-3B),1610 Main Street,NaN,Chipley,FL,32428,NaN,866-576-1495,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN
74480,ELEC,1900 16th St. Mall Garage,1515 Delgany St.,NaN,Denver,CO,80202,NaN,855-223-5351,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN
74481,ELEC,Blue Mountain Sportsman Center,183 Watch Hill Road,NaN,Cortlandt,NY,10567,NaN,888-356-8911,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN
74482,ELEC,Holiday Inn Express - Buffalo Airport,131 Buell Avenue,NaN,Cheektowaga,NY,14225,NaN,1-888-717-4544,E,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN

In [4]:
# get a better idea of the dataset
df.describe()

,Plus4,Expected Date,BD Blends,NG Fill Type Code,NG PSI,EV Level1 EVSE Num,EV Level2 EVSE Num,EV DC Fast Count,Latitude,Longitude,...,CNG Fill Type Code,CNG PSI,CNG Vehicle Class,LNG Vehicle Class,RD Blends,RD Blends (French),RD Blended with Biodiesel,RD Maximum Biodiesel Level,CNG Station Sells Renewable Natural Gas,LNG Station Sells Renewable Natural Gas
count,0.0,0.0,0.0,0.0,0.0,606.000000,63436.000000,12143.000000,74483.000000,74483.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,NaN,NaN,NaN,NaN,NaN,4.536304,2.595498,4.216092,37.881846,-96.158439,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,8.706101,3.992688,5.307362,5.028312,19.338041,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,1.000000,1.000000,1.000000,18.009854,-162.286348,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,1.000000,2.000000,1.000000,34.044958,-117.865435,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,2.000000,2.000000,2.000000,38.588079,-90.814894,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,4.000000,2.000000,6.000000,41.637294,-78.759505,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,90.000000,338.000000,120.000000,64.852466,-65.756678,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# Check how many non null values each column has
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74483 entries, 0 to 74482
Data columns (total 75 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Fuel Type Code                           74483 non-null  object
 1   Station Name                             74482 non-null  object
 2   Street Address                           74451 non-null  object
 3   Intersection Directions                  22293 non-null  object
 4   City                                     74480 non-null  object
 5   State                                    74483 non-null  object
 6   ZIP                                      74483 non-null  object
 7   Plus4                                    0 non-null      float64
 8   Station Phone                            70620 non-null  object
 9   Status Code                              74483 non-null  object
 10  Expected Date                            0 non-null      float64
 11  Groups With Access Code                  74483 non-null  object
 12  Access Days Time                         66697 non-null  object
 13  Cards Accepted                           7880 non-null   object
 14  BD Blends                                0 non-null      float64
 15  NG Fill Type Code                        0 non-null      float64
 16  NG PSI                                   0 non-null      float64
 17  EV Level1 EVSE Num                       606 non-null    float64
 18  EV Level2 EVSE Num                       63436 non-null  float64
 19  EV DC Fast Count                         12143 non-null  float64
 20  EV Other Info                            16 non-null     object
 21  EV Network                               74482 non-null  object
 22  EV Network Web                           65322 non-null  object
 23  Geocode Status                           74479 non-null  object
 24  Latitude                                 74483 non-null  float64
 25  Longitude                                74483 non-null  float64
 26  Date Last Confirmed                      74342 non-null  object
 27  ID                                       74483 non-null  int64
 28  Updated At                               74483 non-null  object
 29  Owner Type Code                          20716 non-null  object
 30  Federal Agency ID                        968 non-null    float64
 31  Federal Agency Name                      968 non-null    object
 32  Open Date                                74174 non-null  object
 33  Hydrogen Status Link                     0 non-null      float64
 34  NG Vehicle Class                         0 non-null      float64
 35  LPG Primary                              0 non-null      float64
 36  E85 Blender Pump                         0 non-null      float64
 37  EV Connector Types                       74461 non-null  object
 38  Country                                  74483 non-null  object
 39  Intersection Directions (French)         0 non-null      float64
 40  Access Days Time (French)                0 non-null      float64
 41  BD Blends (French)                       0 non-null      float64
 42  Groups With Access Code (French)         74483 non-null  object
 43  Hydrogen Is Retail                       0 non-null      float64
 44  Access Code                              74483 non-null  object
 45  Access Detail Code                       4302 non-null   object
 46  Federal Agency Code                      968 non-null    object
 47  Facility Type                            19229 non-null  object
 48  CNG Dispenser Num                        0 non-null      float64
 49  CNG On-Site Renewable Source             0 non-null      float64
 50  CNG Total Compression Capacity           0 non-null      float64
 51  CNG Storage Capacity                     0 non-null      float64
 52  LNG On-Site Renewable Source             0 non-null      float64
 53  E85 Other Ethanol Blends                 0 non-null      float64
 54  EV Pricing                               14653 non-null  object
 55  EV Pricing (French)                      0 non-null      float64
 56  LPG Nozzle Types                         0 non-null      float64
 57  Hydrogen Pressures                       0 non-null      float64
 58  Hydrogen Standards                       0 non-null      float64
 59  CNG Fill Type Code                       0 non-null      float64
 60  CNG PSI                                  0 non-null      float64
 61  CNG Vehicle Class                        0 non-null      float64
 62  LNG Vehicle Class                        0 non-null      float64
 63  EV On-Site Renewable Source              389 non-null    object
 64  Restricted Access                        11954 non-null  object
 65  RD Blends                                0 non-null      float64
 66  RD Blends (French)                       0 non-null      float64
 67  RD Blended with Biodiesel                0 non-null      float64
 68  RD Maximum Biodiesel Level               0 non-null      float64
 69  NPS Unit Name                            310 non-null    object
 70  CNG Station Sells Renewable Natural Gas  0 non-null      float64
 71  LNG Station Sells Renewable Natural Gas  0 non-null      float64
 72  Maximum Vehicle Class                    12580 non-null  object
 73  EV Workplace Charging                    74483 non-null  bool
 74  Funding Sources                          60 non-null     object
dtypes: bool(1), float64(39), int64(1), object(34)
memory usage: 42.1+ MB

In [6]:
# how many rows have data
df.count()

Fuel Type Code                             74483
Station Name                               74482
Street Address                             74451
Intersection Directions                    22293
City                                       74480
                                           ...
CNG Station Sells Renewable Natural Gas        0
LNG Station Sells Renewable Natural Gas        0
Maximum Vehicle Class                      12580
EV Workplace Charging                      74483
Funding Sources                               60
Length: 75, dtype: int64

In [7]:
# find the datatypes
df.dtypes

Fuel Type Code                              object
Station Name                                object
Street Address                              object
Intersection Directions                     object
City                                        object
                                            ...
CNG Station Sells Renewable Natural Gas    float64
LNG Station Sells Renewable Natural Gas    float64
Maximum Vehicle Class                       object
EV Workplace Charging                         bool
Funding Sources                             object
Length: 75, dtype: object

In [8]:
# Check for missing values in the dataset
print(df.isnull().sum())

Fuel Type Code                                 0
Station Name                                   1
Street Address                                32
Intersection Directions                    52190
City                                           3
                                           ...
CNG Station Sells Renewable Natural Gas    74483
LNG Station Sells Renewable Natural Gas    74483
Maximum Vehicle Class                      61903
EV Workplace Charging                          0
Funding Sources                            74423
Length: 75, dtype: int64

In [9]:
# Remove duplicate rows
df = df.drop_duplicates()

In [10]:
#Check dataset to see if any duplicates were dropped
df.describe()

,Plus4,Expected Date,BD Blends,NG Fill Type Code,NG PSI,EV Level1 EVSE Num,EV Level2 EVSE Num,EV DC Fast Count,Latitude,Longitude,...,CNG Fill Type Code,CNG PSI,CNG Vehicle Class,LNG Vehicle Class,RD Blends,RD Blends (French),RD Blended with Biodiesel,RD Maximum Biodiesel Level,CNG Station Sells Renewable Natural Gas,LNG Station Sells Renewable Natural Gas
count,0.0,0.0,0.0,0.0,0.0,606.000000,63436.000000,12143.000000,74483.000000,74483.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,NaN,NaN,NaN,NaN,NaN,4.536304,2.595498,4.216092,37.881846,-96.158439,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,8.706101,3.992688,5.307362,5.028312,19.338041,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,1.000000,1.000000,1.000000,18.009854,-162.286348,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,1.000000,2.000000,1.000000,34.044958,-117.865435,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,2.000000,2.000000,2.000000,38.588079,-90.814894,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,4.000000,2.000000,6.000000,41.637294,-78.759505,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,90.000000,338.000000,120.000000,64.852466,-65.756678,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
df.columns

Index(['Fuel Type Code', 'Station Name', 'Street Address',
       'Intersection Directions', 'City', 'State', 'ZIP', 'Plus4',
       'Station Phone', 'Status Code', 'Expected Date',
       'Groups With Access Code', 'Access Days Time', 'Cards Accepted',
       'BD Blends', 'NG Fill Type Code', 'NG PSI', 'EV Level1 EVSE Num',
       'EV Level2 EVSE Num', 'EV DC Fast Count', 'EV Other Info', 'EV Network',
       'EV Network Web', 'Geocode Status', 'Latitude', 'Longitude',
       'Date Last Confirmed', 'ID', 'Updated At', 'Owner Type Code',
       'Federal Agency ID', 'Federal Agency Name', 'Open Date',
       'Hydrogen Status Link', 'NG Vehicle Class', 'LPG Primary',
       'E85 Blender Pump', 'EV Connector Types', 'Country',
       'Intersection Directions (French)', 'Access Days Time (French)',
       'BD Blends (French)', 'Groups With Access Code (French)',
       'Hydrogen Is Retail', 'Access Code', 'Access Detail Code',
       'Federal Agency Code', 'Facility Type', 'CNG Dispenser Num',
       'CNG On-Site Renewable Source', 'CNG Total Compression Capacity',
       'CNG Storage Capacity', 'LNG On-Site Renewable Source',
       'E85 Other Ethanol Blends', 'EV Pricing', 'EV Pricing (French)',
       'LPG Nozzle Types', 'Hydrogen Pressures', 'Hydrogen Standards',
       'CNG Fill Type Code', 'CNG PSI', 'CNG Vehicle Class',
       'LNG Vehicle Class', 'EV On-Site Renewable Source', 'Restricted Access',
       'RD Blends', 'RD Blends (French)', 'RD Blended with Biodiesel',
       'RD Maximum Biodiesel Level', 'NPS Unit Name',
       'CNG Station Sells Renewable Natural Gas',
       'LNG Station Sells Renewable Natural Gas', 'Maximum Vehicle Class',
       'EV Workplace Charging', 'Funding Sources'],
      dtype='object')

In [16]:
# list the  countries/regions where we have data
df['Station Name'].unique()

array(['LADWP - Truesdale Center', 'Los Angeles Convention Center',
       'LADWP - John Ferraro Building', ..., '1900 16th St. Mall Garage',
       'Blue Mountain Sportsman Center',
       'Holiday Inn Express - Buffalo Airport'], dtype=object)

In [17]:
# Keep only columns needed for our mapping
ev_charging_stations_df = df.loc[:, ['Station Name','Street Address', 'City', 'State', 'ZIP', 'Latitude', 'Longitude', 'EV Level1 EVSE Num',
       'EV Level2 EVSE Num', 'EV DC Fast Count']]

In [18]:
ev_charging_stations_df.head()

,Station Name,Street Address,City,State,ZIP,Latitude,Longitude,EV Level1 EVSE Num,EV Level2 EVSE Num,EV DC Fast Count
0,LADWP - Truesdale Center,11797 Truesdale St,Sun Valley,CA,91352,34.248319,-118.387971,NaN,57.0,2.0
1,Los Angeles Convention Center,1201 S Figueroa St,Los Angeles,CA,90015,34.040539,-118.271387,NaN,7.0,NaN
2,LADWP - John Ferraro Building,111 N Hope St,Los Angeles,CA,90012,34.059133,-118.248589,NaN,338.0,12.0
3,LADWP - Haynes Power Plant,6801 E 2nd St,Long Beach,CA,90803,33.759802,-118.096665,NaN,19.0,1.0
4,LADWP - Harbor Generating Station,161 N Island Ave,Wilmington,CA,90744,33.770508,-118.265628,NaN,10.0,NaN

In [20]:
ev_charging_stations_df.describe()

,Latitude,Longitude,EV Level1 EVSE Num,EV Level2 EVSE Num,EV DC Fast Count
count,74483.000000,74483.000000,606.000000,63436.000000,12143.000000
mean,37.881846,-96.158439,4.536304,2.595498,4.216092
std,5.028312,19.338041,8.706101,3.992688,5.307362
min,18.009854,-162.286348,1.000000,1.000000,1.000000
25%,34.044958,-117.865435,1.000000,2.000000,1.000000
50%,38.588079,-90.814894,2.000000,2.000000,2.000000
75%,41.637294,-78.759505,4.000000,2.000000,6.000000
max,64.852466,-65.756678,90.000000,338.000000,120.000000

In [21]:
ev_charging_stations_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74483 entries, 0 to 74482
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Station Name        74482 non-null  object
 1   Street Address      74451 non-null  object
 2   City                74480 non-null  object
 3   State               74483 non-null  object
 4   ZIP                 74483 non-null  object
 5   Latitude            74483 non-null  float64
 6   Longitude           74483 non-null  float64
 7   EV Level1 EVSE Num  606 non-null    float64
 8   EV Level2 EVSE Num  63436 non-null  float64
 9   EV DC Fast Count    12143 non-null  float64
dtypes: float64(5), object(5)
memory usage: 5.7+ MB

In [22]:
# Check for missing values in the dataset
print(ev_charging_stations_df.isnull().sum())

Station Name              1
Street Address           32
City                      3
State                     0
ZIP                       0
Latitude                  0
Longitude                 0
EV Level1 EVSE Num    73877
EV Level2 EVSE Num    11047
EV DC Fast Count      62340
dtype: int64

In [23]:
# Remove duplicate rows
ev_charging_stations_df = ev_charging_stations_df.drop_duplicates()

In [24]:
ev_charging_stations_df.count()

Station Name          74059
Street Address        74028
City                  74057
State                 74060
ZIP                   74060
Latitude              74060
Longitude             74060
EV Level1 EVSE Num      606
EV Level2 EVSE Num    63015
EV DC Fast Count      12140
dtype: int64

In [26]:
ev_charging_stations_df.dtypes

Station Name           object
Street Address         object
City                   object
State                  object
ZIP                    object
Latitude              float64
Longitude             float64
EV Level1 EVSE Num    float64
EV Level2 EVSE Num    float64
EV DC Fast Count      float64
dtype: object

In [28]:
ev_charging_stations_df.describe()

,Latitude,Longitude,EV Level1 EVSE Num,EV Level2 EVSE Num,EV DC Fast Count
count,74060.000000,74060.000000,606.000000,63015.000000,12140.000000
mean,37.885155,-96.183240,4.536304,2.605126,4.216392
std,5.027108,19.352312,8.706101,4.003988,5.307937
min,18.009854,-162.286348,1.000000,1.000000,1.000000
25%,34.045246,-117.870909,1.000000,2.000000,1.000000
50%,38.589783,-90.946519,2.000000,2.000000,2.000000
75%,41.641261,-78.753175,4.000000,2.000000,6.000000
max,64.852466,-65.756678,90.000000,338.000000,120.000000

In [29]:
ev_charging_stations_df['total EV chargers'] = ev_charging_stations_df[['EV Level1 EVSE Num', 'EV Level2 EVSE Num', 'EV DC Fast Count']].sum(axis=1, skipna=True)

In [30]:
ev_charging_stations_df.head()

,Station Name,Street Address,City,State,ZIP,Latitude,Longitude,EV Level1 EVSE Num,EV Level2 EVSE Num,EV DC Fast Count,total EV chargers
0,LADWP - Truesdale Center,11797 Truesdale St,Sun Valley,CA,91352,34.248319,-118.387971,NaN,57.0,2.0,59.0
1,Los Angeles Convention Center,1201 S Figueroa St,Los Angeles,CA,90015,34.040539,-118.271387,NaN,7.0,NaN,7.0
2,LADWP - John Ferraro Building,111 N Hope St,Los Angeles,CA,90012,34.059133,-118.248589,NaN,338.0,12.0,350.0
3,LADWP - Haynes Power Plant,6801 E 2nd St,Long Beach,CA,90803,33.759802,-118.096665,NaN,19.0,1.0,20.0
4,LADWP - Harbor Generating Station,161 N Island Ave,Wilmington,CA,90744,33.770508,-118.265628,NaN,10.0,NaN,10.0

In [32]:
# Replace NaN values with zero in the selected columns
ev_charging_stations_df[['EV Level1 EVSE Num', 'EV Level2 EVSE Num', 'EV DC Fast Count']] = ev_charging_stations_df[['EV Level1 EVSE Num', 'EV Level2 EVSE Num', 'EV DC Fast Count']].fillna(0)

# Display the updated DataFrame
ev_charging_stations_df.head(10)

,Station Name,Street Address,City,State,ZIP,Latitude,Longitude,EV Level1 EVSE Num,EV Level2 EVSE Num,EV DC Fast Count,total EV chargers
0,LADWP - Truesdale Center,11797 Truesdale St,Sun Valley,CA,91352,34.248319,-118.387971,0.0,57.0,2.0,59.0
1,Los Angeles Convention Center,1201 S Figueroa St,Los Angeles,CA,90015,34.040539,-118.271387,0.0,7.0,0.0,7.0
2,LADWP - John Ferraro Building,111 N Hope St,Los Angeles,CA,90012,34.059133,-118.248589,0.0,338.0,12.0,350.0
3,LADWP - Haynes Power Plant,6801 E 2nd St,Long Beach,CA,90803,33.759802,-118.096665,0.0,19.0,1.0,20.0
4,LADWP - Harbor Generating Station,161 N Island Ave,Wilmington,CA,90744,33.770508,-118.265628,0.0,10.0,0.0,10.0
5,LADWP - Sylmar West,13201 Sepulveda Blvd,Sylmar,CA,91342,34.303090,-118.480505,0.0,2.0,0.0,2.0
6,LADWP - EV Service Center,1630 N Main St,Los Angeles,CA,90012,34.066801,-118.227605,0.0,46.0,1.0,47.0
7,LADWP - Fairfax Center,2311 S Fairfax Ave,Los Angeles,CA,90016,34.036777,-118.368841,0.0,13.0,0.0,13.0
8,LADWP - Palmetto Center,1212 Palmetto St,Los Angeles,CA,90013,34.039736,-118.236065,0.0,27.0,0.0,27.0
9,Scripps Green Hospital,10666 N Torrey Pines Rd,La Jolla,CA,92037,32.899470,-117.243000,0.0,1.0,0.0,1.0

In [36]:
ev_charging_stations_df.dtypes

Station Name           object
Street Address         object
City                   object
State                  object
ZIP                    object
Latitude              float64
Longitude             float64
EV Level1 EVSE Num    float64
EV Level2 EVSE Num    float64
EV DC Fast Count      float64
total EV chargers     float64
dtype: object

In [35]:
# Save cleaned data to a new CSV file
output_path = r'../Resources/alt_fuel_stations_cleaned.csv'
ev_charging_stations_df.to_csv(output_path, index=False)

output_path

'../Resources/alt_fuel_stations_cleaned.csv'